formworkcore/src/main/resources/META-INF/formwork.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">


	<xs:element name="formulario" type="TipoFormulario" />

	<xs:element name="apartado" type="TipoApartado" />

	<xs:element name="partida" type="TipoPartida" />

	<xs:element name="etiqueta" type="TipoEtiqueta" />

	<xs:complexType name="TipoFormulario">
		<xs:complexContent>
			<xs:extension base="TipoComponente">
				<xs:sequence>
					<xs:element name="titulo" type="xs:string" />
					<xs:element name="descripcion" type="xs:string" />
					<xs:sequence maxOccurs="unbounded">
						<xs:element ref="apartado" />
					</xs:sequence>
				</xs:sequence>
				<xs:attribute name="controlador" type="xs:string" use="required" />
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="TipoApartado">
		<xs:complexContent>
			<xs:extension base="TipoComponente">
				<xs:sequence maxOccurs="unbounded" minOccurs="0">
					<xs:choice>
						<xs:element ref="etiqueta"/>
						<xs:element ref="partida" />
					</xs:choice>
				</xs:sequence>
				<xs:attribute name="contenido" use="optional" />
				<xs:attribute name="tipo" type="TipoTipoApartado" use="optional" />
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="TipoPartida">
		<xs:complexContent>
			<xs:extension base="TipoComponente">
				<xs:attribute name="etiqueta" type="xs:string" use="required" />
				<xs:attribute name="tipo" type="TipoTipoPartida" use="optional" />
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="TipoEtiqueta">
		<xs:complexContent>
			<xs:extension base="TipoComponente">
				<xs:attribute name="valor" type="xs:string" use="required" />
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:simpleType name="TipoTipoApartado">
		<xs:restriction base="xs:string">
			<xs:enumeration value="identificacion" />
			<xs:enumeration value="devengo" />
			<xs:enumeration value="partidas" />
			<xs:enumeration value="pago" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="TipoTipoPartida">
		<xs:restriction base="xs:string">
			<xs:enumeration value="cantidad" />
			<xs:enumeration value="cantidadNegativa" />
		</xs:restriction>
	</xs:simpleType>

	<xs:complexType name="TipoComponente">
		<xs:attribute name="id" type="xs:string" use="optional" />
	</xs:complexType>

	<!-- CONFIGURACIÓN DEL FRAMEWORK -->
	<xs:element name="fw" type="TipoFW" />

	<xs:element name="rules" type="TipoRules" />


	<xs:complexType name="TipoFW">
		<xs:sequence>
			<xs:element ref="rules" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="TipoRules">
		<xs:sequence maxOccurs="1" minOccurs="1">
			<xs:element name="rules-file" type="xs:string" />
		</xs:sequence>
	</xs:complexType>
</xs:schema>
